.note-display {
  position: static;
  width: max-content;
  height: max-content;
  margin-right: 30px;
}

.circle {
  position: relative;
}

.circle__svg {
  transform: rotate(-90deg);
}

.circle__progress {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke: #c90024;
}

.circle__progress--fill {
  display: none;
  --initialStroke: 0;
  --transitionDuration: 0ms;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}

#akMissionCount--year,
#akMissionCount--month {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  transform: translate(-50%, -50%);
}
#akMissionCount {
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: center;
}
