@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* custom css */

.note-display {
  position: static;
  width: max-content;
  height: max-content;
  margin-right: 30px;
}

.circle {
  position: relative;
}

.circle__svg {
  transform: rotate(-90deg);
}

.circle__progress {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke: #c90024;
}

.circle__progress--fill {
  display: none;
  --initialStroke: 0;
  --transitionDuration: 0ms;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}

#ffMissionCount--value {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  transform: translate(-50%, -50%);
}
#ffMissionCount {
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: center;
}

#ffEmojiedNumber {
  word-break: break-all;
  max-width: 120px;
}

#ffLink {
  color: #c90024;
  text-decoration-color: #c90024;
}
